<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="tirarFoto()">Câmera</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <img [src]="foto" style="width: 60%;height: 60%;" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="irParaRadio()">Pagina da radio</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="iniciarNavegacao()">iniciar navegação</ion-button>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-button (click)="openMapBox()">MapBox</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col>
        <ion-button (click)="openLeaflet()">Leaflet</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>